# Ignore virtual environment directory
env/

# Ignore SQLite database files
data/*.db

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment configuration files
config/config.json

# Ignore log files
*.log

# Ignore static files (if generated dynamically)
src/frontend/static/css/styles.css
src/frontend/static/js/app.js

# Ignore node_modules if using npm/yarn
node_modules/

# Ignore system-specific files
.DS_Store
Thumbs.db
materials and resources/# Ignore build files
build/
dist/
