<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <div class="nav-bar">
      <div class="text-wrapper">SoundScript</div>
      <div class="nav-bar-right">
        <div class="text-wrapper-2">Features</div>
        <div class="text-wrapper-3">About Us</div>
        <div class="contact-button">
          <div class="text-wrapper-4">Try us for free</div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Register</h1>
      <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a>.</p>
    </div>
  </body>
</html>