<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SoundScript</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <div class="left-text">
                <a href="{{ url_for('index') }}">SoundScript</a>
            </div>
            <div class="right-text">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('index') }}">About Us</a>
                <a href="{{ url_for('contact_us') }}">Contact</a>
            </div>
        </div>
        <div class="form-container">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
            <p class="register-link">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
        <div class="footer">
            <p>&copy; 2024 SoundScript</p>
            <div class="social-icons">
                <a href="https://github.com/CorneliusNgure" target="_blank"><img src="../static/images/github.png" alt="GitHub Icon"></a>
                <a href="https://www.linkedin.com/in/cornelius-ngure-93581a216/" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn Icon"></a>
                <a href="https://x.com/Zeros__n__Ones" target="_blank"><img src="../static/images/x.png" alt="Twitter Icon"></a>
            </div>
        </div>
    </div>
</body>
</html>